@use "./style/variables";
@use "./style/pages/home";
@use "./style/components/navBar";
@use "./style/components/footer";
@use "./style/components/modal";
@use "./style/components/loading";

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
    background: none;
}

a, button {
    color: var(--white);
}

a {
    transition: color 0.3s;
    
    &:hover {
        color: var(--link);
    }
}
